.some-text {
    font-family: "Montserrat", "Arial", sans-serif;
    font-size: 30px;
    line-height: 50px;
    text-align: justify;
    font-weight: 700;
    font-style: italic;
}

.block1 {
    color: green;
}
.block2 {
    color: red;
}
.block3 {
    color: #fff200;
}
.block4 {
    color: blue;
}
.block5 {
    color: #7ff5fb;
}
